<nav class="navbar navbar-expand-sm navbar-toggleable-sm">
    <div style="justify-content: center">
        <div>
            <ul class="navbar-nav flex-grow-1 menuBar" style="display: flex; flex-direction: row; justify-content: flex-end;">
                <li class="nav-item">
                    <a class="nav-link" href="#servicios">
                        <span class="colorLinks">Servicios</span>
                        <span><i class="bi bi-briefcase" style="font-size:20px; color: black;"></i></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">
                        <span class="colorLinks">Contacto</span>
                        <span><i class="bi bi-envelope-at" style="font-size:20px; color: black;"></i></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#ubicacion">
                        <span class="colorLinks">Ubicación</span>
                        <span><i class="bi bi-geo-alt" style="font-size:20px; color: black;"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
