
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}

footer article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 49%;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer article iframe {
    width: 80%;
    height: 200px;
}

#infoContacto div{
    display: flex;
    justify-content: center;
}

#infoContacto div i {
    padding-left: 10px;
    color: #FD2D73 ;
}

#infoContacto div p {
    padding-left: 10px;
    color: white;
}

@media screen and (max-width: 800px) {
    footer{
        flex-direction: column;
        padding-top: 10px;
    }

    footer article{
        width: 80%;
    }

    footer article iframe {
        width: 100%;
    }
    
    footer article div p{
        font-size: small;
        margin-bottom: 0 !important;
    }
}