<footer id="ubicacion">
    <article id="infoContacto" style="height: 100%">
        <div>
            <i class="bi bi-geo-alt"></i>
            <p>Calle 18 #204 x 19 y 21 Col. Maria Luisa</p>
        </div>
        <div>
            <i class="bi bi-telephone"></i>
            <p>99-93-33-80-25</p>
        </div>
        <div>
            <i class="bi bi-envelope-at"></i>
            <p>pino.carolina@hotmail.com</p>
        </div>
    </article>
    <article class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.402998716173!2d-89.60889828546901!3d20.936325286048586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f567197dbbe6755%3A0x34573db7c1a90395!2sCalle%2018%20204%2C%20Mar%C3%ADa%20Luisa%2C%2097199%20M%C3%A9rida%2C%20Yuc.!5e0!3m2!1ses-419!2smx!4v1595131444623!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </article>
</footer>
