<section class="seccionCentral">
    <article class="tarjeta col-6">
        <img src="assets/Profesional.png" alt="">
    </article>
    <article class="tarjeta col-6">
        <div class="itemContenedor">
            <h3 style="color:#471A76;">SEGURO PROFESIONAL</h3>
            <h6>¡Prepara y asegura el futuro educativo de los tuyos desde hoy!</h6>
            <p>Dale la oportunidad a los que más quieres de elegir las mejores instituciones educativas del estado sin tener que preocuparte por los pagos de colegiaturas e inscripciones.</p>
        </div>
    </article>
</section>
